.home-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    "post-review"
    "review-list";
  gap: 10px;
}

.post-review {
  grid-area: post-review;
  min-width: 500px;
  max-width: var(--review-width);
  width: 100%;
  height: 90%;
}

.review-list {
  grid-area: review-list;
  min-width: 500px;
  max-width: var(--review-width);
  width: 100%;
  padding: 1%;
  box-sizing: border-box;
  place-self: start;
  justify-self: center;
}
