.root-container {
  display: grid;
  width: 100%;
  height: 100%;
  overflow: auto;
  grid-template-columns: 1fr;
  grid-template-rows: var(--header-height) 1fr;
  grid-template-areas:
    "header"
    "content";
}

.content {
  grid-area: content;
  width: 100%;
  max-width: var(--total-max-width);
  margin: 0 auto;
  min-height: 0;
}
