.root-container {
  display: grid;
  overflow-y: auto;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: var(--header-height) 1fr;
  grid-template-areas:
    "header header"
    "content content";
}

.content {
  padding-top: var(--header-height);
  grid-area: content;
  min-height: 0;
  max-width: var(--total-max-width); /* <-- this line and the next*/
  width: 100%;
  margin: 0 auto;
}
