.card {
  width: 100%;
  max-width: var(--review-width);
  margin: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-secondary);
  box-sizing: border-box;
  overflow: hidden;
}

.card:last-child {
  border-bottom: none;
}

.thumbnail {
  width: 92px;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
  float: left;
  margin-right: 1rem;
  margin-bottom: 0.2rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.media-info {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.media-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
}

.media-secondary {
  font-size: 1.3rem;
  margin: 0;
  color: var(--color-text-secondary);
}

.section-one {
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 0rem;
}

.author {
  font-weight: 600;
  margin: 0;
  color: var(--color-text-secondary);
}

.rating {
  font-weight: bold;
  color: #ffd700;
  margin: 0;
}

.section-two {
  margin-top: 1.2rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 0.6rem;
}

.text {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  text-align: justify;
}

/* On smaller screens, stack vertically */
@media (max-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
  }

  .header,
  .section-one,
  .section-two {
    flex-direction: column;
  }

  .media-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .review-info {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
