.header {
  grid-area: header;
  position: sticky;
  top: 0;
  height: var(--header-height);
  background-color: var(--color-surface);
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.search {
  width: 500px;
  height: 35px;
  color: var(--color-placeholder);
  border-radius: 100px;
  background-color: var(--color-surface);
  background-color: var(--color-bg);
}

.logo {
  width: 70px;
  height: 100%;
}

.buttons {
  display: flex;
  gap: 10px;
}

.header-content {
  height: 100%;
  max-width: var(--total-max-width);
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
