.header {
  grid-area: header;
  position: sticky;
  width: 100%;
  top: 0;
  height: var(--header-height);
  background-color: var(--color-surface);
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.search {
  max-width: 500px;
  width: 20vw;
  height: 35px;
  color: var(--color-placeholder);
  border-radius: 100px;
  background-color: var(--color-bg);
}

.logo {
  width: 70px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}

.header-content {
  height: 100%;
  max-width: var(--total-max-width);
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
