:root {
  --color-bg: rgba(43, 51, 48);
  --color-primary: rgba(240, 128, 112, 0.8); /*rgba(248, 118, 102, 0.7);*/
  --color-secondary: rgba(163, 177, 138);
  --color-surface: rgba(58, 68, 65, 0.9);
  --color-text: rgba(248, 249, 250);
  --color-placeholder: rgba(248, 249, 250, 0.5);
  --color-primary-hover: rgba(248, 118, 102, 0.7);
  --header-height: 50px;
  --sidebar-width: 250px;
  --review-text-width-lg: 900px;
  --review-img-width-lg: 200px;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text); /*rgba(255, 255, 255, 0.87);*/
  background-color: var(--color-bg); /*#242424;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  height: 100%;
}

a {
  font-weight: 500;
  color: var(--color-text);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-primary);
}

button {
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-primary);
  color: var(--color-text);
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: var(--color-primary-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/*Utility Classes*/
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
*/
